<h3>{{viewTitle}}</h3>

<form action="/buku/tambah" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{buku._id}}">
    <div class="form-group">
        <label>Nama Buku</label>
        <input type="text" class="form-control" name="nama" placeholder="Nama Buku" value="{{buku.nama}}">
    <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" name="author" placeholder="Author" value="{{buku.author}}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Penerbit</label>
            <input type="text" class="form-control" name="penerbit" placeholder="Penerbit" value="{{buku.penerbit}}">
        </div>
        <div class="form-group col-md-6">
            <label>Tahun Terbit</label>
            <input type="number" class="form-control" name="tahun_terbit" placeholder="Tahun Terbit" value="{{buku.tahun_terbit}}">
        </div>
    </div>
    <div class="form-group">
        <label>Jumlah Halaman</label>
        <input type="number" class="form-control" name="jumlah_halaman" placeholder="Jumlah Halaman" value="{{buku.jumlah_halaman}}">
        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Tambah</button>
        <a class="btn btn-secondary" href="/buku/list"><i class="fa fa-list-alt"></i> Lihat daftar</a>
    </div>
</form>